# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Fonts and binaries


*.woff
*.woff2

# Logs
*.log

# 대용량 폰트/압축 파일 제외
.zip

# Env files
.env
.env.*

# Others
*.bak
*.swp
